:root {
   --primary-color: #ca8a04;
   --secondary-color: #451a03; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}
header h1 {
    color: var(--primary-color);
}

h1,
h2,
h3 {
    font-size: 36px;
    color: var(--secondary-color);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#projects {
    width: 25%;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

#projects h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#project-list {
    list-style-type: none;
}

#project-list li {
    margin: 10px 0;
    cursor: pointer;
    color: var(--secondary-color);
}

#project-list li:hover {
    color: #fff;
    transform: translateY(-5px);
}

#todos {
    width: 70%;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
}

#todos h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#todo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.todo-item {
    background-color: var(--secondary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.todo-item:hover {
    transform: scale(1.05);
}

.high-priority {
    border-left: 5px solid red;
    background-color: #ffdddd;
}

.medium-priority {
    border-left: 5px solid orange;
    background-color: #fff3cd;
}

.low-priority {
    border-left: 5px solid green;
    background-color: #d4edda;
}

.todo-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.todo-item p {
    margin-bottom: 5px;
}

button {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    color: var(--primary-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}

.modal-content {
    background-color: var(--primary-color);
    margin: 15% auto;
    padding: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    width: 400px;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Form elements */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #fff;
}

textarea {
    resize: vertical;
    min-height: 100%;
}

button[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 18px;
    border: none;
}

button[type="submit"]:hover {
    color: var(--primary-color);
}

.delete-button {
    font-size: 16px;
    justify-content: end;
    margin-left: 50px;
    background-color: transparent;
    color: var(--secondary-color)
}

.delete-button:hover {
    text-decoration: underline;
    background-color: transparent;
    color: var(--secondary-color);
}

.buttonDiv {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}